@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body{
  color: #000;
  min-width: 375px;
  font-family: 'Pretendard Variable', -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}
a{
  text-decoration: none;
  color: #000;
}
a:hover{color: #FA3D4B;}
.box{
  background-color: #FA3D4B;
  color: #fff;
  border-radius: 3px;
  font-size: 12px;
}
.box2{
  color: #FA3D4B;
  border: 1px solid;
  border-radius: 10px;
  display: inline;
  padding: 5px;
  font-size: 12px;
  width: 28px;
  height: 65px;
  font-weight: 700;
}
.writer #date{
  font-size: 10px;
}

/*FOOTER*/
footer{
  text-align: center;
  font-size: 14px;
  color: #7E7E7E;
  min-width: 375px;
}
footer .logo{
  height: 20px;
  margin-bottom: 30px;
  margin-top: 20px;
}
footer li{margin: 5px;}
footer img{margin: 20px;}
footer .copyright{margin: 20px;}
footer a{
  color: #7E7E7E;
  font-size: 14px;
}
footer hr{
  border-top: none;
  height: 1px;
  background-color: #F0F1F2;
}


/*FORUM MAIN HEADER*/
header{
  align-items: center;
  display: flex;
  min-width: 375px;
}
header .logo{
  color: #FA3D4B;
  font-size: 40px;
  height: 28px;
  margin: calc((76px - 28px) / 2);
}
.nav__menu{
  min-width: 375px;
  display: flex;
  height: 43px;
  font-size: 16px;
  align-items: center;
  letter-spacing: 0;
  font-weight: 500;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-inline-start: 1.5rem;
}
.nav__clicked{color: #FA3D4B;}
.nav__menu li{
  margin-right: 10%;
  min-height: 19px;
}
.btn.btn__question{
  top: calc(76px + (43px / 2));
  font-size: 12px;
  right: 0;
  box-sizing: border-box;
  padding: 6px;
  color: #fff;
  position: absolute;
  top: calc(19px / 2);
  inset-inline-end: 1rem;
}


/*FORUM MAIN MAIN*/
.forum-wrapper{margin-inline-start: 1rem;}
.forum-wrapper div{
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.forum-wrapper div img{margin-bottom: 20px;}
.search{
  margin-inline-start: 1rem;
  align-self: flex-start;
  display: flex;
  height: 40px;
  width: 327px;
  padding: 7px 10px;
  position: relative;
  margin-bottom: 30px;
}
#search-icon{
  z-index: 2;
  font-size: 30px;
  line-height: 40px;
  position: absolute;
  top: 10px;
  bottom: 10px;
  margin-left: 300px;
}
.search input{
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  font-size: 14px;
  flex-grow: 1;
  height: 40px;
  min-width: 327px;
  border-radius: 7px;
}
.forum-wrapper .forum-content{
  width: 327px;
  margin-bottom: 29px; 
}
.forum-content-wrapper{
  margin-bottom: 30px;
}
.forum-content hr{
  height: 1px;
  border: none;
  background-color: #ccc;
}
.forum-wrapper .writer{
  font-size: 14px;
  font-weight: 500;
}
.forum-wrapper h4{
  font-size: 19px;
  margin-top: 15px;
  font-weight: 600;
}
.forum-wrapper div p{
  font-size: 14px;
}
.forum-wrapper p{
  line-height: 1.2rem;
  margin-top: 20px;
  margin-bottom: 20px;
}
.btn.btn__tag{
  padding-left: 10px;
  padding-right: 10px;
  display: inline;
}
.btn.btn__chocoball{
  right: 0;
  padding: 5.5px;
  align-items: center;
  height: 14px;
  position: absolute;
  right: 0;
  display: inline;
}


/*FORUM QUESTION MAIN*/
.createQuestion{
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  min-width: 327px;
  align-content: center;
  margin-inline-start: 1em;
}
.createQuestion h4{
  font-size: 19px;
  font-weight: 600;
}
.createQuestion .furtherEx{
  color: #7E7E7E;
  margin-top: 10px;
  margin-bottom: 10px;
}
.createQueston ul{margin-top: 5px;}
.createQuestion ul li{margin-bottom: 30px;}

.createQuestion #tag-list{
  display: inline-block;
  margin-inline-start: 1rem;
}
.createQuestion .uploadImg{
  display: flex;
  flex-direction: row;
  width: 327px;
}
.createQuestion .fileImg{
  border: 1px solid black;
  width: 237px;
  height: 46px;
  margin-top: 15px;
  display: flex;
  margin-right: 20px;
}
.createQuestion .btnUpload-button{
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  font-size: 14px;
  align-items: center;
  background-color: #CCC;
  border-radius: 5px;
  height: 46px;
  width: 82px;
  line-height: 46px;
  color: #FFF;
}
#btnUpload{visibility: hidden;}

.createQuestion .txtArea{
  min-width: 327px;
  overflow: hidden;
  height: auto;
  min-height: 46px;
  margin-top: 5px;
}
.createQuestion textarea{
  min-width: 327px;
  overflow: hidden;
  height: auto;
  height: 46px;
  margin-top: 5px;
}
.createQuestion textarea::placeholder{color: #7E7E7E;}
.createQuestion .ta__situation{
  height: 160px;
  width: 327px;
  resize: none;
  overflow: auto;
}
.createQuestion .ta__eCode{
  min-height: 100px;
  width: 327px;
  resize: none;
  margin-top: 15px;
}
.createQuestion .txtArea.ta__choco{margin-top: 15px;}
.createQuestion .btn{
  display: inline-flex;
  background-color: #F0F1F2;
  height: 28px;
  width: 69px;
  border-radius: 5px;
  justify-content: center;
  line-height: 28px;
  margin-top: 10px;
}
.createQuestion .btn--submit{
  background-color: #FA3D4B;
  color: #fff;
  height: 38px;
  width: 118px;
  border: none;
  cursor: pointer;
  display: flex;
}

/*MY PAGE*/
.user{
  align-items: flex-end;
  display: flex;
  min-height: 146px;
  width: 327px;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.mypage-content{
  margin-left: auto;
  margin-right: auto;
}
table{
  text-align: center;
  width: 327px;
  background-color: #F0F1F2;
}
.user-name{
  font-size: 19px;
  font-weight: 700;
}
.user-wrapper{
  align-items: flex-end;
  display: flex;
  height: 24px;
  min-width: 327px;
}
.user-name span{font-size: 14px;}
.exchange-comment{
  font-size: 12px;
  color: #7E7E7E;
  right: 0;
  position: absolute;
}
.btn.btn--exchange{
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  color: #fff;
  font-family: 'Pretendard', Arial, sans-serif;
  cursor: pointer;
}
.user .btn{
  height: 28px;
  width: 124px;
  border-radius: 5px;
  background-color: #FA3D4B;
}
.content-title{
  font-size: 19px;
  color: #FA3D4B;
  font-weight: 700;
  margin-bottom: 15px;
}
.content-content{
  font-size: 14px;
  font-weight: 300;
}
.btn.btn--purchase{
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  color: #fff;
  height: 28px;
  width: 124px;
  background-color: #FA3D4B;
  border-radius: 7px;
  margin-inline-start: 203px;
  margin-top: 10px;
  cursor: pointer;
}
.user-grade{
  margin-top: 10px;
  font-size: 19px;
  height: 60px;
  margin-bottom: 10px;
}
.user-grade td{
  border-right:1px solid #000;
  vertical-align: middle;
  font-weight: 700;
}
.user-grade td:last-child{border-right:none;}
.price td:nth-child(2){background-color: white;}
.price td{vertical-align: middle;}

.price tr{
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
}
.user-grade span,
.price span{
  font-size: 14px;
  font-weight: 500;
}
.price{
  font-size: 19px;
  text-align: center;
  height: 245px;
  font-weight: 700;
}
.myQuestion,
.myAnswer,
.buy{
  align-items: flex-start;
  min-height: 146px;
  width: 327px;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.myQuestion .content-content h4,
.myAnswer .content-content h4{
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}
.myQuestion a:hover,
.myAnswer a:hover{
  color: #7E7E7E;
}

/*FORUM DETAIL WRITER*/
.forum-wrapper{margin-inline-start: 1rem;}
.forum-wrapper .detail-content{
  width: 327px;
  margin-bottom: 29px; 
  margin-top: 20px;
}
.forum-content-wrapper{
  margin-bottom: 30px;
}
.forum-content hr{
  height: 1px;
  border: none;
  background-color: #ccc;
}
.forum-wrapper .writer{
  font-size: 14px;
  font-weight: 500;
}
.forum-wrapper h4{
  font-size: 19px;
  margin-top: 15px;
  font-weight: 600;
}
.forum-wrapper div p{
  font-size: 14px;
}
.forum-wrapper p{
  line-height: 1.2rem;
  margin-top: 20px;
  margin-bottom: 20px;
}
.btn.btn__tag{
  padding-left: 10px;
  padding-right: 10px;
  display: inline;
}
.btn.btn__chocoball{
  right: 0;
  padding: 5.5px;
  align-items: center;
  height: 14px;
  position: absolute;
  right: 0;
  display: inline;
}
.QA-wrapper{
  align-items: center;
  display: flex;
  width: 327px;
  flex-direction: column;
  position: relative;
}
.forum-wrapper hr{
  height: 1px;
  width: 375px;
  border: none;
  background-color: #7E7E7E;
}
#arrowRight{
  color: #7E7E7E;
}
.forum-wrapper .question__answers .writer{
  width: 327px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}
.QA-wrapper .writer p,
.QA-wrapper .writer img{
  margin-inline-start: 1.8rem;
}
/* 채택하기 버튼 */
.btn.btnSelect{
  align-items: center;
  background-color: #7E7E7E;
  width: 59px;
  color: #FFF;
  display: flex;
  margin-right: 0;
  height: 24px;
  padding: 0 5.5px;
  position: absolute;
  right: 0;
  cursor: pointer;
}
/* 채택된 답변 */
.btn.btnSelected{
  align-items: center;
  background-color: #FA3D4B;
  width: 70px;
  color: #FFF;
  display: flex;
  margin-right: 0;
  height: 24px;
  padding: 0 5.5px;
  position: absolute;
  right: 0;
}
/* .btn.btnSelect--non{
  align-items: center;
  background-color: #7E7E7E;
  width: 59px;
  color: #FFF;
  display: flex;
  margin-right: 0;
  height: 24px;
  padding: 0 5.5px;
  position: absolute;
} */
.QA__write{
  min-height: 290px;
  min-width: 327px;
  width: 45%;
  position: relative;
}
#editor{
  height: 290px;
}
/* 답변 작성하기 버튼 */
.QA__write .btn--submit{
  background-color: #FA3D4B;
  color: #fff;
  height: 38px;
  width: 118px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
  position: absolute;
  right: 0;
}